#page {
  overflow: hidden;
  position: relative;
  max-width: 100%;
}

main {
  padding-bottom: 2rem;
}

h1 span {
  display: block;
  position: fixed;
  bottom: 110%;
}

h1 img {
  display: block;
  margin: 0 auto;
  width: 220px;
  @include respond-to(small) {
    width: 240px;
  }
  @include respond-to(medium) {
    width: 280px;
  }
  @include respond-to(large) {
    width: 320px;
  }
}

.intro {
  text-align: center;
}
.intro p {
  margin-left: auto;
  margin-right: auto;
}

.home section:nth-child(even) {
  background-color: #f1f1f1;
}
section .container > p:first-child {
  margin-top: 0;
}
section .container > p:last-child {
  margin-bottom: 0;
}

section.jb > p:first-child {
  max-width: 34em;
}
.jerry-boy img.portrait {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 260px;
  border-radius: 50%;
  border: 0.5rem solid transparent;
  @include respond-to(small) {
    width: 300px;
  }
  @include respond-to(medium) {
    width: 380px;
  }
  @include respond-to(large) {
    width: 460px;
  }
}
.jerry-boy .photo .images:after {
  content: "";
  display: block;
  position: absolute;
  border: 0.6rem solid $red;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
}
.jerry-boy .photo .images {
  display: inline-block;
  position: relative;
}
.jerry-boy .photo .twin-hearts {
  position: absolute;
  display: block;
  right: 5%;
  top: 5%;
  width: 90px;
}
.jerry-boy .photo p {
  text-align: center;
  margin-top: 0.5rem;
  line-height: 1.2;
}
.jerry-boy .photo p strong {
  @include header-font;
  font-size: (1.25rem) * 1.25 * 1.25;
  display: block;
  margin-bottom: 0;
}
section.jb {
  text-align: center;
}
section.jb p {
  margin-left: auto;
  margin-right: auto;
}
.dinner-time {
  position: relative;
  border-radius: 6px;
  overflow: hidden;
}
.dinner-time img {
  display: block;
}
.dinner-time figcaption {
  @include header-font;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  padding-top: 1rem;
  color: #fff;
  font-size: 1.25rem;
  letter-spacing: (0.125em)/2;
  z-index: 10;
  @include respond-to(small) {
    padding-top: 1rem;
    font-size: 1.25rem * 1.25 * 1.25;
  }
  @include respond-to(medium) {
    padding-top: 1.5rem;
    font-size: 1.25rem * 1.25 * 1.25 * 1.25;
  }
}
.dinner-time:before {
  @include gradient-overlay(180deg, 40%);
  content: "";
  display: block;
  position: absolute;
  z-index: 5;
  width: 100%;
  left: 0;
  top: 0;
  height: 45%;
}

.mission h2 {
  text-align: center;
}
.mission h2 span {
  display: block;
  font-size: (1em)/1.25;
  @include respond-to(medium) {
    display: inline;
    font-size: 1em;
  }
}
.mission .sub-section {
  margin-top: 1.5rem;
}
.mission .sub-section h3 + p {
  margin-top: 0.125rem;
}

.rescue-center h2 span {
  display: block;
  font-size: (1em)/1.25;
}
.directions a {
  text-decoration: underline;
}

.contact .text p {
  margin-top: 0;
}
.contact address {
  line-height: 1.2;
  margin-bottom: 0.25rem;
}
.contact .map {
  margin-top: 1rem;
  max-width: 100%;
  @include respond-to(medium) {
    margin-top: 0;
    flex-grow: 1;
  }
}
.contact .flex {
  @include respond-to(medium) {
    display: flex;
    flex-wrap: nowrap;
  }
}
.contact .text {
  white-space: nowrap;
  @include respond-to(medium) {
    padding-right: 2rem;
  }
}

.map-wrapper iframe {
  max-width: 100%;
}

.site-info {
  background-color: #ddd;
  // color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: (1rem)/1.25;
  text-align: center;
  color: lighten($text, 20%);
}
.site-info .content {
  @include respond-to(medium) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.site-info a span {
  font-size: 0;
}
.site-info a {
  text-decoration: underline;
}
.site-info div + div {
  margin-top: 0.5em;
  @include respond-to(medium) {
    margin-top: 0;
  }
}

section.thanks {
  text-align: center;
}
section.thanks p {
  margin-left: auto;
  margin-right: auto;
}
section.thanks .container:after {
  content: "";
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 0.25rem solid $red;
  margin-top: 1rem;
  max-width: 320px;
}

.stories img {
  display: block;
  box-shadow: 0 0 1px rgba(#000, 0.125);
}

.stories ul {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  display: flex;
  flex-wrap: wrap;
}
.stories ul li {
  padding: 0.5rem;
  width: 50%;
  @include respond-to(medium) {
    width: percentage(1/3);
  }
}

.animal-shelter-page .donate-now {
  text-align: center;
  background-color: $xlight-gray;
  padding: 1.25rem 1rem;
  @include respond-to(medium) {
    padding: 2rem 1rem;
  }
}
.animal-shelter-page .donate-now a {
  display: inline-block;
  background-color: $red;
  font-size: (1.25rem) * 1.25;
  padding: 0 1.5em;
  color: #fff;
  font-weight: 700;
  line-height: 2em;
  border-radius: 1em;
  padding-top: 0.0125em;
}
.animal-shelter-page .donate-now p {
  margin-left: auto;
  margin-right: auto;
  font-size: (1.25rem);
  margin-bottom: 0;
}
.animal-shelter-page .upi-payments img {
  width: 300px;
}
.animal-shelter-page .upi-payments ul {
  list-style-type: disc;
  color: $red;
  margin-left: 1.125rem;
}
.animal-shelter-page .upi-payments ul span {
  color: $text;
}
.animal-shelter-page .upi-payments ul li + li {
  margin-top: 0.5rem;
}

.donation-options {
  @include respond-to(medium) {
    display: flex;
  }
}
.donation-options > div + div {
  margin-top: 2rem;
  @include respond-to(medium) {
    margin-left: 2rem;
    margin-top: 0;
  }
}
.donation-options table {
  margin-top: 0.5rem;
}
.donation-options table tr {
  border-bottom: 1px solid $light-gray;
  &:first-child {
    border-top: 1px solid $light-gray;
  }
}
.donation-options table td {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  &:nth-child(2) {
    padding: 0.5rem;
    font-weight: 700;
  }
}
