$text: #302f3d;

$red: #ef163a;

$green: #12e8ad; // #11bb8c;
$blue: #1774d0;

$blue-medium: #12477f;

$dark-blue: #0b2645;

// $red: #fa0e1c;
// $light-blue: #e6f1fa;

$xlight-gray: #f0f0f0;
$light-gray: #e8e8e8;
$gray: #ccc;

$white-border: 4px solid rgba(#fff, 0.2);
$white-border-thin: 1px solid rgba(#fff, 0.2);
